.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.rounded {
    border-radius: 15rpx;
}
.rounded-circle {
    border-radius: 50%;
}
.px-2 {
    padding-left: 20rpx;
    padding-right: 20rpx;
}
.align-center {
    align-items: center;
}
.left-0 {
    left: 0;
}
.text-white {
    color: white;
}
.font-sm {
    font-size: 30rpx;
}
.mr-1 {
    margin-right: 10rpx;
}
