/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4324186 */
  src: url('https://at.alicdn.com/t/c/font_4324186_a4a1qph03st.woff2?t=1699536868762') format('woff2'),
  url('https://at.alicdn.com/t/c/font_4324186_a4a1qph03st.woff?t=1699536868762') format('woff'),
  url('https://at.alicdn.com/t/c/font_4324186_a4a1qph03st.ttf?t=1699536868762') format('truetype');
}

.iconfont {
  font-family: unicode-icon !important;
  font-size: 16px;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* .iconwode:before {
  content: "\e625";
}

.iconfenxiang:before {
  content: "\e620";
}

.iconliwu:before {
  content: "\e622";
}

.iconzanting:before {
  content: "\e656";
}

.iconbofang:before {
  content: "\e600";
}

.iconzhengzaizhibo:before {
  content: "\e6e2";
}

.iconbizhongguanli:before {
  content: "\e626";
}

.icongengduo:before {
  content: "\ec1c";
}

.iconguanbi:before {
  content: "\eaf2";
}

.icontuichu:before {
  content: "\e6bc";
}

.iconmeibai:before {
  content: "\e631";
}

.iconfanzhuanxiangji:before {
  content: "\e605";
}

.iconfaxian:before {
  content: "\e6c0";
}

.iconmeiyan:before {
  content: "\e632";
}

.iconqingxiduxuanze:before {
  content: "\e608";
} */
